html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  /* 滚动条宽度 */
}

::-webkit-scrollbar-track {
  /* background: #f0f0f0; */
  background: rgba(255, 255, 255, 0);
  /* 滚动条轨道背景色 */
  border-radius: 10px;
  /* 圆角 */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* 滚动条滑块的颜色 */
  border-radius: 10px;
  /* 滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 鼠标悬停时的滑块颜色 */
}

#app {
  display: flex;
  flex-direction: column;
  /* background: url('@/assets/imgs/bj3.jpg') no-repeat center center/cover; */
  /* background-attachment: fixed; */
  overflow-y: auto;
  overflow-x: hidden;
}
